.todolist-container {
    font-size: medium;
    width: 800px;
    height: 550px;
    padding: 15px 15px 20px 20px;
}

.todolist-block {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: inset 0 -3em 3em rgba(231, 219, 219, 0.1),
    0 0 0 2px rgba(255, 255, 255, 0.798),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.todolist-menu {
    width: 30%;
    height: inherit;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 15px 20px;
}

.todolist-tasks {
    width: 70%;
    height: inherit;
    background-color: rgb(64 96 211 / 75%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 20px;
}


.todolist-tasks-title {
    /* width: 100%; */
    text-align: center;
    color: white;
    font-weight: 700;
}

.todolist-tasks-list {
    overflow: auto;
    padding-left: 0;
    width: 100%;
    height: 32%;
}

.todolist-tasks-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    width: 100%;
    height: 47px;
    background-color: white;
    margin-bottom: 1px;
    list-style: none;
    border-radius: 5px;
}

.todolist-tasks-input {
    width: 100%;
}

.todolist-tasks-input::placeholder {
    color: rgb(34, 33, 33);
}


.todolist-menu-list {
    margin: 10px 0;
    padding: 10px 20px;
    list-style: none;
    height: 70%;
}

.todolist-menu-item {
    margin-bottom: 5px;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    cursor: pointer;
}

.todolist-menu-link {
    padding: 10px 5px;
    height: 10px;
    color: black;
}


.checkbox {
    width: 16px;
    height: 15px;
    margin-right: 10px;
    border-radius: 50%;
    vertical-align: baseline;
    cursor: pointer;
}


.form {
    position: relative;
    width: 100%;
}

.form .fa-search {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #9ca3af;
    top: 7px;
    left: 156px;
}

.left-pan i {
    padding-left: 10px;
}

.form-input {
    height: 30px;
    border-radius: 10px;
}

.form-input:focus {
    box-shadow: none;
    border: none;
}


.todolist-newtasks-list {
    padding-left: 0;
    width: 100%;
    height: 10%;
}

.todolist-newtasks-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    width: 100%;
    height: 47px;
    background-color: white;
    margin-bottom: 1px;
    list-style: none;
    border-radius: 5px;
    background-color: rgb(64 96 211 / 75%);
}

.todolist-newtasks-item svg {
    margin-right: 10px;
    color: white;
    cursor: pointer;
}


.todolist-newtasks-input {
    width: 100%;
    background-color: transparent;
    color: white;
    border: none;
}

.todolist-newtasks-input::placeholder {
    color: white;
}

.todolist-newtasks-input:focus {
    outline: none;
}


.todolist-donetasks-list {
    overflow: auto;
    padding-left: 0;
    width: 100%;
    height: 32%;
}

.todolist-donetasks-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    width: 100%;
    height: 47px;
    background-color: white;
    margin-bottom: 1px;
    list-style: none;
    border-radius: 5px;
}


.todolist-tasks-item svg {
    margin-right: 10px;
    color: rgb(144 138 138);
    width: 17px;
    height: 17px;
    cursor: pointer;
}


.todolist-donetasks-input {
    width: 100%;
    text-decoration: line-through;
}


.todolist-donetasks-input::placeholder {
    color: gray;
}

.task-title {
    color: white;
    background-color: rgb(64 96 211 / 75%);
    width: fit-content;
    padding: 3px 4px;
    border-radius: 5px;
    font-size: 12px;
}


.todolist-tasks-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 90%;
}

.star {
    cursor: pointer;
    color: gray;
}

.active-star {
    color: rgb(255, 174, 0);
}

.tipText {
    color: white;
    font-size: medium;
}